[Unit]
Description=Database MQ Consumer Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/php /home/sorar/it490/consumers/db_consumer.php
Restart=always
RestartSec=5
User=sorar
WorkingDirectory=/home/sorar/it490

[Install]
WantedBy=multi-user.target
