[Unit]
Description=Test MQ Consumer Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/php /home/jh699/it490/it490/consumers/test_consumer.php
Restart=always
RestartSec=5
User=jh699
WorkingDirectory=/home/jh699/it490/it490

[Install]
WantedBy=multi-user.target
